        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            
        }
        .container{
            text-align: center;
            margin: 50px;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: hsl(216, 8%, 88%);
            padding: 10px;
        }

        nav a {
            color: rgb(46, 33, 34);
            text-decoration: none;
            margin: 15px;
            margin-left: 150px;
            font-size: 20px;
        }

        nav a:hover {
            text-decoration: underline;
        }



        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }
        
        
        .rell {
            position: relative;
            width: 100;
            height: 100;
            object-fit:cover ;
        }
        
        .rell img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }

        .overlay-text {
            position: absolute;
            top: 45%;
            font-family:Georgia, 'Times New Roman', Times, serif;
            left: 73%;
            transform: translate(-50%, -50%);
            color: rgb(168, 157, 157);
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .products {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            margin-top: 20px;
        }

        .product img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            
        }
        .product p {
            color: #555;
            font-size: 115%;
        }

        .product{  
            background-color: #fff;
            padding: 15px;
            border-radius: 10px;
        }

        button {
            background-color: #28a745;
            color: #f4f4f4;
            border: 1px;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            transition: transform 0.3s, background-color 0.3s;
        }
        .button:hover {
            background-color: #005f8a; 
            transform: scale(1.1); 
        }

        .pagination {
            margin-top: 50px;
        }
        .pagination a.active {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }

        .pagination a {
            color: #007bff;
            margin: 0 5px;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .error { color: red; font-size: 14px; }

        .credit-card-container {
            font-size: 18px;
            width: 400px;
            background: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            padding: 80px 50px;
            margin: 40px;
            margin-left: 37%;
          }

          .erm {
            display: flex;
            gap: 10px;
          }
          
          .erm div {
            flex: 1;
          }

          .ist{
            margin-bottom: 15px;
          }

          .tst{
            margin-bottom: 15px;
          }

          
